bin/Debug/netcoreapp2.2/TodoApi.dll
bin/Debug/netcoreapp2.2/TodoApi.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/TodoApi.pdb
bin/Debug/netcoreapp2.2/TodoApi.xml
bin/Debug/netcoreapp2.2/TodoApi.deps.json
bin/Debug/netcoreapp2.2/TodoApi.runtimeconfig.json
obj/Debug/netcoreapp2.2/TodoApi.dll
obj/Debug/netcoreapp2.2/TodoApi.pdb
obj/Debug/netcoreapp2.2/TodoApi.xml
obj/Debug/
bin/